@import url('fonts/fonts.css');
@import url('jquery-ui-1.7.1.custom.css');
@import url('ui.slider.extras.css');
@import url('font-awesome.css');
.ui-slider {clear: both;}
/* ======================================================================
HTML5 Boilerplate CSS: h5bp.com/css
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { height: 100%; font-size: 62.5%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif; }
body { height: 100%; margin: 0; padding: 0; font-size: 1em; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color:inherit; text-decoration: none; }
a:visited { color: inherit; }
a:hover { color: inherit; text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: 'DejaVuSansMonoBook', monospace, serif; _font-family: 'DejaVuSansMonoBook', 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
ul.normal { list-style-type: disc; margin-left: 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }

/*******************************************/
/*  My template starts                     */
/*******************************************/

/** 
	0 Accessibility
**/
	.no-css {
		/* This class hides stuff that needs to be around for screenreaders
		 * or users with no CSS, but not in normal circumstances
		 */
		position: absolute; left: -1000px;
	}

	@media screen and (min-width: 1000px){
		.mob {
			display: none !important; visibility: hidden;
		}
	}

/**
	1 Typography
**/
	body { text-align: center;}
	header h1 { visibility: hidden;}
	header.bar h1 {
		visibility: visible;
		text-align: center;
	}
	h1, h2 { font-family: 'DejaVuSerifBook', Georgia, Times, serif; font-weight: normal;}
	h2 { font-size: 2.2em; }
	h3 { 
		font-family: 'DejaVuSansBook', Helvetica, Arial, sans-serif; font-weight: normal;
		font-size: 1.7em; 
	}

	p, li {
		font-size: 1.5em;
		font-weight: 500;
	}
	p a, p a:hover {
		text-decoration: underline;
	}
	li li { font-size: 1em;}
	li h3 {font-size: 1em;}

	/* ADMIN */

	.bar li { font-size: 1.4em; font-weight: bold;}
	.li1 i { font-size: 1.2em; }
	.li2 { font-size: 0.8em; text-align: left;}
	.li2 li.active {font-weight: 600;}
	.extra { visibility: hidden;}
	.li2 li .extra {margin: -0.2em 0 0 0; font-size: 1.4em;}
	.li2 li:hover .extra { visibility: visible;}

	/* end ADMIN */
	/* GO */

	#page {
		text-align: left;
	}
	#info {
		font-size: 0.6em;
	}
	#getinfo, #loadnext, #playpause, #down, #up {
		font-size: 2em;
		font-weight: bold;
		text-align: center;
	}
	#getinfo, #loadnext, #playpause {
		line-height: 2;
	}
	#up, #down {
		font-size: 3.2em;
	}

	.btn, .btn a, .btn a:hover .btn:hover { text-decoration: none;}
	.btnmenu {font-size: 0.8em;}
	.btnsq {
		line-height: 4.5;
	}

	/* end GO */

	.align-left { text-align: left;}
	.align-right { text-align: right;}
	.align-center { text-align: center;}

	.note {
	  font-size: 1em;
	  font-weight: bold;
	  text-align: right;
	}

	.wee {
	  font-size: 0.8em;
	}

	.win, .fail {}

	@media screen and (min-width: 768px){
		h2, h3, h4 { text-align: left; }
		#page .inner { 
			font-size: 1.4em;
			font-family: 'DejaVuSerifBook', Georgia, Times, serif;
		}
	}
	@media screen and (min-width: 1024px){
		h1 { text-align: left; }
	}


/**
	2 Colours and borders
**/

	/* Borders */
	  input { border: 1px solid; }
	  input[type=submit].btnsq { border: none;}
	  .win-border, .fail-border { border: 2px solid; }
	  .color1-border, .color2-border, .color3-border, .light-border, .dark-border { border: 1px solid;}
	  .btnmenu a { border: 1px solid;}
	  .btnmenu li li a { border: none;}
	  .btnsq {
	  	border-radius: 0.6em;
	  }
	  #getinfo, #loadnext, #playpause {
	  	border-radius: 6px;
	  }
	  .admin-head, .li1 li { border-bottom: 1px solid;}
	  .li2 li:first-child { border-top: 1px solid;}
	  .li2 li:last-child { border-bottom: none;}
	  .side { border-right: 1px solid;}

	/* Dark */
	  .dark { color: #2d2d2d;}
	  .dark-bg { background-color: #2d2d2d; }
	  .darker{ color: #000; }
	  .darker-bg { background-color: #000; }

	/* Primary Color (Dark red) */
	  .color1, .fail { color: #5b2120; }
	  .color1-bg, .btnmenu, .btnmenu li, .bar, #info { background-color: #5b2120; }
	  .color1-border, .fail-border { border-color: #5b2120; }
	  .color1-texture { }
	  .color1-hov:hover {background-color: #5b2120;}

	/* Secondary Color (Green) */
	  .color2, .win { color: #4DAB43; }
	  .color2-bg { background-color: #4DAB43; }
	  .color2-border, .win-border { border-color: #4DAB43; }
	  .color2-texture { }
	  .color2-gradient {
		-moz-box-shadow: 0px 1px 0px 0px #7b4f4c;
		-webkit-box-shadow: 0px 1px 0px 0px #7b4f4c;
		box-shadow: 0px 1px 0px 0px #7b4f4c;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9ee096), color-stop(1, #4dab43) );
		background:-moz-linear-gradient( center top, #9ee096 5%, #4dab43 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ee096', endColorstr='#4dab43');
		background-color:#9ee096;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
	  }.color2-gradient:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4dab43), color-stop(1, #9ee096) );
		background:-moz-linear-gradient( center top, #4dab43 5%, #9ee096 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dab43', endColorstr='#9ee096');
		background-color:#4dab43;
	  }.color2-gradient:active {
		position:relative;
		top:1px;
	  }

			
	/* Tertiary Color (Musky red) */
	  .color3 { color: #7b4e4c; }
	  .color3-bg, .fail-bg, .bar li:hover, .bar li a:hover, #info .inner { background-color: #7b4e4c; }
	  .color3-border, .btnmenu a { border-color: #7b4e4c; }
	  .color3-texture { }
	  .color3-hov:hover, .btnmenu a:hover { background-color: #7b3e3c;}

	/* Light */
	  .light, .disabled { color: #ccc; }
	  .light-bg, .active { background-color: #ccc; }
	  .light-hov:hover, .li2 li:hover { background-color: #ccc; }
	  .light-texture, body { 
	  	background-color: #ccc;
	  	background-image: url('/img/ricepaper.png');
	  	background-repeat: repeat;
	  }
	  .light-border, input, textarea, .admin-head, .side, .side li, .li2 li:first-child { border-color: #ccc;}
	  .lighter, .btnmenu, #info, #getinfo, #loadnext, .bar li { color: #fff; }
	  .lighter-bg, input[type=submit], .li2 li { background-color: #fff; }
	  .lighter-sh { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #fff;}
	  .lighter-hov:hover, .li1 h3:hover { background-color: #fff; }

	.note { color: silver; }

	.btnmenu {
		opacity: 0.8;
	}

	.disabled:hover, .li1 li.disabled h3:hover { background-color: transparent;}

/** 
	3 Spacing & Grid
**/

.wrapper {
	width: 100%;
}

/* Grid */
.w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
.w2of3, .w3of4, .w2of5, .w3of5, .w4of5 {
	width: 100%;
}

.w1of2-2 {
	width: 50%; float: left;
}

.inner {
	padding: 1em;
}

header h1, header h1 a {
	width: 100%; height: 100%;
	display:block;
}

header.bar {
	padding: 0.3em;
}

header.bar h1 {
	padding: 0; margin: 0;
}

header.bar nav {
	clear: both;
	margin-top: -32px; /* height of header.bar */
}

nav {
	max-width: 100%;
}

li a {
	display: block;
	padding: 0.6em;
}

.side h3 { padding: 0; margin: 0;}

.btn {
	padding: 0.6em;
	display: inline-block;
}
.btnmenu {
	/*width: 96%;*/
	margin-left: auto; margin-right: auto;
	padding: 1em;
}
.btnmenu li {
	display: inline-block;
}
.btnmenu li li {
	display: block;
}
.btnmenu.mob {
	display: inline-block;
	position: absolute;
	top: 10px; right: 6px;
	width: auto;
	padding: 0;
}
.btnmenu ul ul {
	position: absolute;
	width: 12em;
	display: none;
}
.btnmenu li:hover ul {
	display: block;
}

.btnsq { 
	display: block;
	width: 64px; height: 64px;
	margin-left: auto; margin-right: auto;
}
.btnsq a {
	display: inline-block;
	width: 100%; height: 100%;
}
input[type=submit].btnsq {padding:0;}
.tabsq {
	width: 42px; height: 42px;
}

.bar ul.right li {
	float: left;
}

#page {
	position: relative;
	padding: 0 50px 0 42px;
}
#page .inner {
	overflow:hidden;
}
#page-side {
	width: 42px;
	height: 100%;
	position: absolute; top: 20px; right: 0;
}
#page-scroll {
	width: 42px;
	height: 100%;
	position: absolute; top: 20px; left: 0;
}
#page-scroll #up, #page-scroll #down {
	width: 42px;
}
#getinfo, #loadnext, #playpause, #up, #down {
	position: relative;
	cursor: pointer;
	text-align: center;
	margin: 0;
}
#info { 
	display: none; 
	position: absolute; top: 20px; right: 38px;
	padding: 3em;
	width: 75%; 
	margin-left: auto; margin-right:auto;
}
#getinfo {
	top: 0px;
}
#loadnext {
	top: 8px;
}
#playpause {
	top: 16px;
}
#down {
	bottom: 0px;
}
.long {
	display: none;
}

.inline { display: inline; }
.left { float: left; }
.right { float: right; }

.left.btnbeside { float: none; display: block;}
.right.btnbeside { float: none; display: block;}

.win, .fail {
  padding: 0.2em;
  display: block;
}

@media screen and (min-width: 550px){
	.side .li1 li {
		width: 50%;
		float: left;
	}
	.side .li2 li {
		width: 100%;
		float: none;
	}
	.side .li1 li:nth-child(even) { clear: none; }
	.side .li1 li:nth-child(odd) { clear: both; }
}

@media screen and (min-width: 1000px){
	.side .li1 li {
		float: none;
		width: 100%;
	}
	.side {
		width: 28em;
		position: absolute;
		top: 10.4em;
	}
	.has-side{
		margin: -1.4em 0 0 28em;
		padding-left: 1em;
	}
}

/* Forms */

label { width: 100%; display:block;}

input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]) {
	width: 90%;
	padding: 0.4em;
}

textarea {
	width: 90%; height: 10em;
}

input[type="submit"], button, .btn, textarea{
	padding: 0.5em;
}

/* End forms */

@media screen and (min-width: 768px){
	.admin-head { 
		width: 100%;
		display: inline-block;
	}
	.admin-head h2 { margin-left: 0.6em; float: left;}
	.admin-head p { margin-right: 0.6em; float: right;}
}

/*	3.2 	*/
	@media screen and (min-width: 1024px){

		.wrapper {
			width: 1024px;
			margin-left: auto; margin-right: auto;
		}

		#page {
			/*width: 600px;*/
		}
		#page-side {
			
		}

		.w1of2 { width: 50%; float: left; }
		.w1of3 { width: 33%; float: left; }
		.w1of4 { width: 25%; float: left; }
		.w1of5 { width: 20%; float: left; }
		.w2of3 { width: 66%; float: left; }
		.w3of4 { width: 75%; float: left; }
		.w2of5 { width: 40%; float: left; }
		.w3of5 { width: 60%; float: left; }
		.w4of5 { width: 80%; float: left; }

		.w1of3:nth-child(odd) { clear: none; }
		.w1of3:nth-child(3n-2) { clear: both; }

		.w1of2-2 { width: 100%; float: none;}

		.left.btnbeside { margin-left: 1em; line-height: 2.5; float: left;}
		.right.btnbeside { margin-right: 1em; line-height: 4.2; float: right;}

	}

/** 
	4.0 Images and video (and maps)
**/

header {
	background-image: url('/img/banner.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 120px;
}

header.bar {
	background-image: none;
	height: 32px;
}

.btn {
	cursor: pointer;
}

#map-canvas {
	width: 100%;
	height: 300px;
}

@media screen and (min-width: 1024px){
	.w1of2-2 img {
		float: left;
	}
	.w1of2-2 .btnsq {
		float: right;
	}
}

.disabled, .disabled a { cursor: text;}

.vid-holder {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	text-align: center;
}

.vid-holder iframe,  
.vid-holder object,  
.vid-holder embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Full width images on bigger than small screens are dumb. Reset this. 
@media screen and (max-width: 478px){
  .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
  .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
    width: 100%;
  }
}*/


/*******************************************/
/*  My template ends                       */
/*******************************************/

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}