$def with (title="About Palimpsest", main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
		<div class="wrapper">
			<div class="w1of2">
				<div class="inner align-left clearfix">
					<h2>About Palimpsest: Literary Edinburgh</h2>
					<p>'Palimpsest: Literary Edinburgh' originally arose out of the idea of creating an innovative new way of engaging people with literature to celebrate the 250th anniversary of the University of Edinburgh's English Literature department, the oldest in the world. For while the study of English Literature is now well established worldwide, the appointment of the Reverend Hugh Blair as the first Regius Professor of Rhetoric and Belles Lettres at the University of Edinburgh in 1762 was then an innovation. A little over a decade later, Edward Topham in his book <em>Letters from Edinburgh</em> in describing Blair tells of '[t]he harmony of his diction, the elegance and sagacity of his criticisms [and] the spirit and fire of his imagination'.
					<p>Topham then goes on to commend the uniqueness of the University, remarking that if the general nature of its education were followed by more institutions it would 'be a considerable step towards the advancement of learning and literature' (215-16). One of the ways the department aims to perpetuate that educational and imaginative spirit is through Palimpsest a mobile web application that will weave together dramatic, vivid and evocative extracts of fictional and historical literary texts set in Edinburgh, thereby making these texts newly accessible and responsive to the scholarly and creative impulses of scholars, writers and the general public.</p>
					<p>The particular capacity of Edinburgh and its literature when combined to fire one's imagination, is described by Robert Louis Stevenson in his <em>Picturesque Notes</em>:</p>
					<blockquote><p>So, in the low dens and high-flying garrets of Edinburgh, people may go back upon dark passages in the town's adventures, and chill their marrow with winter's tales about the fire: tales that are singularly apposite and characteristic, not only of the old life, but of the very constitution of built nature in that part, and singularly well qualified to add horror to horror, when the wind pipes around the tall LANDS, and hoots adown arched passages, and the far-spread wilderness of city lamps keeps quavering and flaring in the gusts. (15)</p></blockquote>
					<p>Stevenson then goes on to conjure chilling tales, some now more familiar than others, of Deacon Brodie, Begbie the Porter, and Burke and Hare. More recently, Ian Rankin has in turn jointly credited Stevenson and Edinburgh with the inspiring of his own fiction:</p>
					<blockquote><p>I owe a great debt to Robert Louis Stevenson and to the city of his birth. In a way they both changed my life. Without Edinburgh's split nature Stevenson might never have dreamed up <em>Dr Jekyll and Mr Hyde</em> and without <em>Dr Jekyll and Mr Hyde</em> I might never have come up with my own alter ego Detective Inspector John Rebus (qtd. in <em>The Evening News</em>)</p></blockquote>
				</div>
			</div>

			<div class="w1of2"><div class="inner align-left clearfix">
				<p>So, as with Stevenson, in Rankin's debt of gratitude are intertwined the nature of the city itself and the fiction it has inspired. The literature is shot through with the city, and the city with the literature, as they reciprocally shape each other's forms and histories.</p>
				<p>For the prototype database, staff across the English Literature department contributed excerpts of texts set in the High Street that range from the medieval period to the current day. Next the application has been made openly accessible, with the intention that much of its growth will now come from users uploading further texts to the database themselves. Texts can be organised according to a range of properties, although these will vary according to what is known, they can include: setting, author, title of work, date of setting or publication, genre, topic, mood, weather, season, day and time of day. The aim is that through the geolocation of the texts to their settings the app will create imaginary and historical cityscapes, which will enable users to immerse themselves in a random psychogeography composed of non-linear fragments, or to choose their journey according to the various properties, such as a specific author, genre, period, or mood. Users can also save the specific literary journeys they have undertaken and add to the listed properties for an existing text. While the idea was borne out of the department's anniversary and the richness of Edinburgh's literary history, a future possibility might be for the Palimpsest application to be recreated in different cities or places and so offer 'travel through texts' all around the world. Another future form of development will come through involving creative writers and the users of the application in exploring tropes of interactive fiction or storytelling, with both the University and the city of today providing a wealth of experience in the literary arts. Thus in these diverse ways Palimpsest seeks to bring texts to life and evoke the multi-layered imaginative, conceptual and historical cityscape of our everyday settings.</p>
				<p class="align-right"><strong>Words by Miranda Anderson</strong></p>
				<h3>The Team</h3>
				<p>Initiator &amp; Conceptual director: Miranda Anderson</p>
				<p>Technical director, front- &amp; back-end developer: <a href="http://rhiaro.co.uk" target="_blank">Amy Guy</a></p>
				<p>Main academic team: Simon Biggs, John Lee, James Loxley, Mark Wright, <a href="http://www.eca.ac.uk/circle/" target="_blank">CIRCLE</a> &amp; UoE English Literature Department</p>
				<p>Design &amp; Digital Media project students: Bing Liu, Haiyan Pan, Jessica Ruiz, Bethany Wolfe, Qingwen Xie, Yi Yang, Guirong Zhang</p>
				<p class="color1"><a href="/feedback">Have questions, comments, suggestions, or any other feedback for us? Click here &#187;</a></p>
			</div></div>

		</div>
$:end(pre=pre,js=js,post=post)
