$def with (world, section, menu={'properties':[],'texts':[],'contributors':[],'moderation':[]}, title="Palimpsest", navleft=[('Back','/yours')], navright=[], pre=0, js="", post=0)
$:top_small(navleft=navleft, navright=navright, title=title)

        <div class="admin-head clearfix">
            <h2>$world.title</h2>
            <p>
                $if world.key.id() != "default-world" and len(menu['contributors']) > 0:
                    <a href="/$str(world.key.id())/edit" class="btn light-hov light-border">Edit</a> 
                <a href="#menu" class="btn light-hov light-border mob">Menu</a>
            </p>
        </div>

        <div class="has-side"><div class="inner align-left">
            $:section
        </div></div>

        <div class="side" id="menu">
            <nav>
                <ul class="li1">
                    <!-- Properties -->
                    $if len(menu['properties']) > 0:
                        <li class="$menu['properties'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['properties'][0][1]">
                                    <span class="left">$menu['properties'][0][0]</span><i class="right $menu['properties'][0][3]"></i>
                                </a>
                            </h3>
                            $if len(menu['properties']) > 1:
                                <ul class="li2">
                                    $for x in range(1,len(menu['properties'])):
                                        <li class="$menu['properties'][x][2]">
                                            <a href="$menu['properties'][x][1]">$menu['properties'][x][0]
                                            <i class="icon-edit extra right"></i></a>
                                        </li>
                                </ul>
                        </li>
                    <!-- Texts -->
                    $if len(menu['texts']) > 0:
                        <li class="$menu['texts'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['texts'][0][1]">
                                    <span class="left">$menu['texts'][0][0]</span><i class="right $menu['texts'][0][3]"></i>
                                </a>
                            </h3>
                            $if len(menu['texts']) > 1:
                                <ul class="li2">
                                    $for x in range(1,len(menu['texts'])):
                                        <li class="$menu['texts'][x][2]">
                                            <a href="$menu['texts'][x][1]">$menu['texts'][x][0]
                                            <i class="icon-edit extra right"></i></a>
                                        </li>
                                </ul>
                        </li>
                    <!-- Contributors -->
                    $if len(menu['contributors']) > 0:
                        <li class="$menu['contributors'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['contributors'][0][1]">
                                    <span class="left">$menu['contributors'][0][0]</span><i class="right $menu['contributors'][0][3]"></i>
                                </a>
                            </h3>
                        </li>
                    <!-- Moderation -->
                    $if len(menu['moderation']) > 0:
                        <li class="$menu['moderation'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['moderation'][0][1]">
                                    <span class="left">$menu['moderation'][0][0]</span><i class="right $menu['moderation'][0][3]"></i>
                                </a>
                            </h3>
                            $if len(menu['moderation']) > 1:
                                <ul class="li2">
                                    $for x in range(1,len(menu['moderation'])):
                                        <li class="$menu['moderation'][x][2]">
                                            <a href="$menu['moderation'][x][1]">$menu['moderation'][x][0]
                                            <i class="icon-edit extra right"></i></a>
                                        </li>
                                </ul>
                        </li>
                    <!-- Reload menu button -->
                    <form method="post" action="/yours/load">
                        <input type="hidden" name="refer" value="$page" />
                        <input type="hidden" name="world" value="$world.key.id()" />
                        <input type="hidden" name="reload" value="true" />
                        <p><button type="submit" class="lighter-bg light-border" title="Reload the list to see if there's anything new"><i class="icon-refresh"></i></button></p>
                    </form>
                </ul>
            </nav>
        </div>

$:end(pre=pre,js=js,post=post)