$def with (extras)
$if cur_user():
	<nav class="btnmenu clearfix" role="navigation">
		<ul class="left">
			<li>
				<a href="/you">Hi $print_cur_user()<i class="icon-caret-down"></i></a>
				<ul>
					<li><a href="/you"><i class="icon-user"></i> Account</a></li>
					<li><a href="$logout_url()"><i class="icon-off"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
		<ul class="right">
			<li><a href="/yours/saves">Journeys</a></li>
			<li><a href="/yours">Creations</a></li>
			$for extra in extras:
				<li><a href="$extra[1]">$extra[0]</a></li>
		</ul>
	</nav>