$def with (left, right)		
    <a href="/" title="Palimpsest Home">
        <h1><img src="/img/logo_p.png" alt="Palimpsest Home" title="Home" /></h1>
    </a>
		<nav>
			<ul class="left">
				$for li in left:
				  <li>$:li</li>
			</ul>
      <ul class="right">
          $for li in right:
            <li>$:li</li>
          <li><a href="/you"><i title="Your account" class="icon-user"></i></a></li>
          <li><a href="$logout_url()"><i title="Logout" class="icon-off"></i></a></li>
      </ul>
		</nav>