$def with (prescriptfiles=0, js="", postscriptfiles=0)
		</div>
		<!--<footer class="wrapper">
			<p>&copy; 2012</p>
			<p></p>
		</footer>-->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
	<!-- Load ScrollTo --><script type="text/javascript" src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="/js/libs/selectToUISlider.jQuery.js"></script>

	$if prescriptfiles != 0:
		$for file in prescriptfiles:
			<script src="$file"></script>
	
	<script>
	  $:js
	</script>

	$if postscriptfiles != 0:
		$for file in postscriptfiles:
			<script src="$file"></script>
	
	<!--<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
</script>-->
	</body>
</html>