$def with (world, main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title="%s on Palimpsest" % world.title, main_nav=main_nav, user_nav=user_nav)
		<div class="wrapper">
			<div class="w1of2">
				<div class="inner clearfix">
					<h2>$world.title</h2>
					<p class="align-left">$world.blurb</p>
                    <p class="color2">The pink shapes on the map represent areas where you'll be able to find texts.</p>
                    <div id="map-canvas" style="height:300px;width:100%;"></div>
				</div>
			</div>
            <div class="w1of2">
                <div class="inner align-left">
                    <h3>Out and about?</h3>
                    <p>Use this button if you're ready to walk around the city with your smartphone or tablet in hand.</p>
                    $if cur_user():
                        <form method="post" action="/$world.key.id()">
                            <p>
                                <label for="savename">If you'd like to save your journey, enter a name to save it under so you can find it agian later. Leave it blank if you don't want to save.</label>
                                <input type="text" name="savename" id="savename" />
                            </p>
                            <p><input type="submit" name="saveandgo" class="btnsq color2-gradient lighter-sh" value="Start" /></p>
                            <h3>Can't get out?</h3>
                            <p>If you're not in Edinburgh, can't leave your flat, can't share your location, or the weather is just awful, fear not!  You can use the armchair version here:</p>
                            <p>(You can still save your journey by entering a name in the box above).</p>
                            <p><input type="submit" name="sofago" class="btnsq color2-gradient lighter-sh" value="Start" /></p>
                        </form>
                    $else:
                        <p>If you <a href="$login_url()" class="color1">sign in</a>, you can save your journey and share it with others.</p>
                        <form method="post" action="/$world.key.id()">
                            <input type="hidden" name="savename" id="savename" value="" />
                            <p><input type="submit" name="saveandgo" class="btnsq color2-gradient lighter-sh" value="Start" /></p>
                            <h3>Can't get out?</h3>
                            <p>If you're not in Edinburgh, can't leave your flat, can't share your location, or the weather is just awful, fear not!  You can use the armchair version here:</p>
                            <p><input type="submit" name="sofago" class="btnsq color2-gradient lighter-sh" value="Start" /></p>
                        </form>
                </div>
            </div>
		</div>
$:end(pre=pre,js=js,post=post)
