$def with (form, fbs=None, message=None, title="Leave feedback about Palimpsest", main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
		<div class="wrapper">
			<div class="w1of1">
				<div class="inner align-left clearfix">
					$if fbs is not None:
						<h3>Feedback left</h3>
						$for fb in fbs:
							$if not fb.deleting:
								<p>
									<strong>$fb.date, 
										$if fb.user:
											$fb.user.printable()
											$if fb.user.contact:
												 (may contact)
											$else:
												 (may not contact)
										$else:
											Anon
									 said:</strong>
								</p>
								<p>$fb.general</p>
							$else:
								<p><strong>$fb.date, Account deleted message:</strong></p>
								<p>$fb.deleting</p>
						<hr/>
					$if message is not None:
						<p class="win">$message</p>
					<h3>Send us your feedback</h3>
					<p>We welcome any and all comments about Palimpsest.</p>
					<p>Technical feedback can include any problems you might have had with the functioning of the app, errors you might have encountered, etc.  It would be helpful to us if you could mention the type and model of device you use to access Palimpsest, and the web browser you use.</p>
					$if cur_user():
						<p>If you change your mind about allowing us to contact you about your experiences with Palimpsest, you can change this setting on <a href="/you" class="color1">your account page</a>.</p>
					$else:
						<p>If you want to be contacted about your feedback, please <a href="$login_url" class="color1">sign in</a> before submitting the form.</p>
					$:form.render()
				</div>
			</div>
		</div>
$:end(pre=pre,js=js,post=post)
