$def with (title="Palimpsest", navleft=[('Home','/')], navright=[], pre=0, js="", post=0)
$:top_small(navleft=navleft, navright=navright, title=title)
        <div class="wrapper">
            <!--<p id="longbtn">Add long text</p>
            <p id="shortbtn">Add short text</p>-->
            <!--<form method="post"><input type="text" name="key" value="7" /><input type="submit" name="test" value="test" /></form>-->
            <div id="sofa-map"></div>
            <div id="page">

                <div id="page-scroll">
                    <p id="up" class="tabsq color1">
                        <i class="icon-circle-arrow-up"></i>
                    </p>
                    <p id="down" class="tabsq color1">
                        <i class="icon-circle-arrow-down"></i>
                    </p>
                </div>
                <div id="page-side">
                    <p id="getinfo" class="tabsq color1-bg" title="More information about current text">
                        <i class="icon-info-sign"></i>
                    </p>
                    <p id="loadnext" title="Number of queued texts" class="tabsq color2-bg"><span id="no">0</span></p>
                    <p id="playpause" title="Turn text queuing on or off" class="tabsq color1-bg color3">
                        <i class="icon-play"></i>
                    </p>
                </div>

                <p id="loading"><i class="icon-magic"></i> Please wait, we're looking for texts... If nothing happens, please make sure you have JavaScript enabled, GPS turned on and have shared your location with us.</p>
                
                <div id="info"><div class="inner"></div></div>
                <div class="inner">
                </div>
            </div>
            
        </div>
$:end(pre=pre,js=js,post=post)
