$def with (title="Palimpsest", main_nav={"main":("About", "#about")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
		<div class="wrapper">
			<div class="w1of2">
				<div class="inner clearfix">
					<h2>Literary Edinburgh</h2>
					$if cur_user():
						<a href="$login_url()">
							<div class="w1of2-2 lighter-hov clearfix">
								<p><img src="/img/google.png" alt="Google" /></p>
								<p class="left btnbeside">You are signed in with Google</p>
							</div>
						</a>
						<a href="/literary-edinburgh">
							<div class="w1of2-2 lighter-hov clearfix">
								<p class="btnsq color2-gradient lighter-sh">start <i class="icon-caret-right"></i></p>
								<p class="right btnbeside">Your journey can be saved</p>
							</div>
						</a>
					$else:
						<a href="$login_url()">
							<div class="w1of2-2 lighter-hov clearfix">
								<p><img src="/img/google.png" alt="Google" /></p>
								<p class="left btnbeside">Sign in with Google to save your journey</p>
							</div>
						</a>
						<a href="/literary-edinburgh">
							<div class="w1of2-2 lighter-hov clearfix">
								<p class="btnsq color2-gradient lighter-sh">start <i class="icon-caret-right"></i></p>
								<p class="right btnbeside">Or continue without signing in</p>
							</div>
						</a>
				</div>
			</div>

			<div class="w1of2" id="about"><div class="inner clearfix">
				<h3>About</h3>
				<div class="align-left">
					<p>'<em>Palimpsest</em>: Literary Edinburgh' originally arose out of the idea of creating an innovative new way of engaging people with literature to celebrate the 250th anniversary of the University of Edinburgh's English Literature department, the oldest in the world. <a href="/about" class="color1">Read more <i class="icon-caret-right"></i></a></p>
					<p>To use, simply open the site in your smartphone or tablet's browser and hit 'start'.  Once you've set your preferences and clicked 'allow' when asked to share your location, you can walk around Edinburgh and see what you discover.</p>
					<p><strong class="color2">New:</strong> Use Palimpsest from the comfort of your own home!  Start a journey to see how.</p>
					<p class="color2"><strong>Coming soon:</strong> Contribute texts to <em>Literary Edinburgh</em>, or create your own experiences, anywhere you like! Watch this space.</p>
					<p class="color1"><a href="/feedback">Have questions, comments, suggestions, or any other feedback for us? Click here <i class="icon-caret-right"></i></a></p>
				</div>
			</div></div>
		</div>
$:end(pre=pre,js=js,post=post)
