$def with (title="Palimpsest", msg="This page works..", main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
		<div class="wrapper">
			<div class="w2of3">
				<div class="inner align-left clearfix">
					<h2>$title</h2>
					<p>$msg</p></blockquote>
				</div>
			</div>
		</div>
$:end(pre=pre,js=js,post=post)
