$def with (saves, title="Palimpsest", main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
        <div class="wrapper">
            <div class="w2of3">
                <div class="inner align-left clearfix">
                    <h2>Your saved journeys</h2>
                    $if len(saves) > 0:
                        <p>Click on your saved journeys to view and share them.</p>
                        <ul>
                        $for save in saves:
                            <li class="lighter-hov"><a href="/journey/$save.key.id()">
                                <strong>$save.name</strong> on $date(save.date_added)
                                $if save.publish:
                                    (public)
                            </a></li>
                        </ul>
                    $else:
                        <p><em>You haven't saved any journeys yet. Try <a href="/literary-edinburgh" class="color1">Literary Edinburgh</a>.</em></p>
                </div>
            </div>

        </div>
$:end(pre=pre,js=js,post=post)
