$def with (save, rooms, access=False, form=None, title="Palimpsest", main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
        <div class="wrapper">
            <div class="w1of3">
                <div class="inner align-left clearfix"><div class="color1-border inner">
                    <h2>$save.name</h2>
                    <p>Started: $date(save.date_added)</p>
                    <p>Updated: $date(save.date_modified)</p>

                    $if save.publish and not access:
                        <p><a class="btn lighter-bg light-border color1" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.literarycities.com&text=I+found+this+journey+with+Palimpsest%3A+Literary+Edinburgh%21+http%3A%2F%2Fliterarycities.org/journey/$save.key.id()+%23palimpsest" target="_blank">
                            <i class="icon-twitter"></i> Tweet about this journey.
                        </a>
                        </p>

                    $if access:

                        $if save.publish:
                            <p><a class="btn lighter-bg light-border color1" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fwww.literarycities.com&text=I+saved+a+journey+with+Palimpsest%3A+Literary+Edinburgh%21+http%3A%2F%2Fliterarycities.org/journey/$save.key.id()+%23palimpsest" target="_blank">
                                <i class="icon-twitter"></i> Tweet about this journey.
                            </a>
                            </p>

                        <form method="post">
                            <p>
                                <input type="checkbox" value="True" name="pub" id="pub"
                                $if save.publish:
                                    checked
                                 />
                                 <label for="pub">Tick to make this journey public, so you can share the URL with others.</label>
                            </p>
                            <p><input type="submit" name="pubsub" value="Save" /></p>
                        </form>
                </div></div>
            </div>
            <div class="w2of3"><div class="inner align-left">
                $for room in rooms:
                    <h3>$room.name</h3>
                    <p style="border-bottom: 1px solid white; padding-bottom: 2em">$room.long_desc</p>
            </div></div>

        </div>
$:end(pre=pre,js=js,post=post)