$def with (form)

<h2>Experience settings</h2>
<p>Once you save a title for the overall experience you're creating, you can add texts and properties and more. You can come back and edit the other things here whenever you like.</p>
$:form.render()