$def with (form, mods=None)

<h2>Invite moderators</h2>
<p>Moderators can submit texts and properties that are published straight away, as well as edit existing texts and properties.</p>
<p>If this experience accepts contributions from the public, moderators can accept or reject them.</p>
<p>Promoting a moderator to admin will additionally allow them to edit the experience settings, and modify the access rights of other users.</p>
<p>Invite someone to moderate by typing in their email address.  They'll recieve an email to let them know you've invited them.  If the person you invite doesn't have a Google account associated with that email address, they'll be asked to create one so they can log into the site. </p>
$:form.render()

<h2>Existing moderators</h2>
$if mods is not None and len(mods) > 0:
        $for wc in mods:
                <div class="w1of1 lighter-hov clearfix"><p style="display: inline-block; min-width: 50%">
                $if wc.user is not None:
                        $wc.user.get().printable()
                $else:
                        $wc.user_pending.get().email (pending sign-up)
                </p>
                <form method="post" style="display: inline-block; min-width:40%">
                        <input type="hidden" value="$wc.key.id()" name="userid" id="userid" />
                        <select name="action" style="min-width: 30%">
                                <option value="0">Remove</option>
                                $if wc.admin:
                                        <option value="2">Revoke admin</option>
                                $else:
                                        <option value="1">Promote to admin</opion>
                        </select>
                        <input type="submit" name="mod" value="Update access" />
                </form>
                </div>
$else:
        <p>Only you.</p>