$def with (form, properties_available, del_form=None, edit=False, properties=[])

$if edit:
    <h2>Edit text</h2>
    <p>Delete this text and associated property values (cannot be undone):</p>
    $:del_form.render()
    <p>Or change the details this text here.</p>
$else:
    <h2>Add a new text</h2>
    <p>Texts are the core of an experience!</p>

<form id="roomcreate" method="post">
    $:form.render()
    
    <p><strong>Properties</strong></p>
    $if properties_available:
        <p class="btn lighter-bg color1-border color4-bg-hov" id="propertyBtn" style="cursor: pointer;"> + Add text properties</p>
        <div id="propertyBtns"></div>
        <div id="validValues" style="display:none;visibility:hidden;"></div>

        $if edit:
            $if len(properties['visible']) > 0:
                <p>Tick the box next to properties you want to <strong>delete</strong>.  To modify a property, tick the box beside the old one to delete it, and create a new value using the button above.</p>
                $for p in properties['visible']:
                    <p>
                        <input type="checkbox" name="del_property" value="$p.key.id()" class="del_property" />
                        <span><em>$p.of_property.get().name</em>: $p.value</span>
                    </p>
            $if len(properties['pending']) > 0:
                <p><strong>Properties pending moderation</strong></p>
                $for p in properties['pending']:
                    <p>
                        <select name="action_val" class="action_val" />
                                <option value="0">No action</option>
                                <option value="2">Accept</option>
                                <option value="1">Reject (and delete)</option>
                        </select>
                        <input type="hidden" value="$p.key.id()" name="mod_id" id="mod_id" />
                        <span><em>$p.of_property.get().name</em>: $p.value</span>
                    </p>

    $else:
        <p class="fail">There aren't any properties available</p>

    <p><strong>Text location</strong></p>
    $if edit:
        <p>Adjust a text's position by moving the corners of the blue shape. Delete points by right clicking on them.</p>
    $else:
        <p class="serif">Single-click points on the map that are the corners of the text location. As you click, the points will join up to form a shape.  Move the points around to refine the area.</p>
    <div id="coordInputs"></div>
    <div id="map-canvas"></div>
    
    <p><input type="submit" name="save_text" id="save_text" value="Save" /></p>
</form>