$def with (form, del_form=None, edit=False)

$if edit:
	<h2>Edit property</h2>
	<p>Delete this property (cannot be undone):</p>
	$:del_form.render()
	<p>Or change the settings for this property here.</p>
$else:
	<h2>Create a new property</h2>
	<p>This is where you set up the properties that are available for <strong>all texts</strong> in the experience.</p>
	<p>Properties give the reader either more control over, or more information about (or a combination of the two) the texts in the experience. You can add <em>values</em> for these properties for each individual text when you add or edit that text.</p>
$:form.render()