$def with (property)

	<h2>$property.name</h2>
	<p>Used for: <strong>
		$if property.sorter:
			filtering texts
			$if property.discrete:
				 (with checkboxes)
			$else:
				 (on a sliding scale)
		$if property.sorter and property.info:
			 and 
		$if property.info:
			extra information about texts
		$if not (property.info or property.sorter):
			 system information about text
	</strong></p>
	<p>Valid values: <strong>
		$if property.valid_values == "|num|":
			Numeric
		$elif property.valid_values == "|text|":
			Text
		$else:
			$property.valid_values
	</strong></p>