$def with (text, open, properties_available, property_values={})

<h2>$text.name</h2>
<p>Short version: <strong>$text.short_desc</strong></p>
<p>Long version: <strong>$text.long_desc</strong></p>
    
    <p>Properties</p>
    <ul class="normal">
    $for pv in property_values:
        <li><strong>$pv.of_property.get().name: </strong>$pv.value (added by $pv.added_by.get().printable())</li>
    </ul>

    $if open and properties_available:
        <p>If you have more information to add about this text, do so here.</p>
        <form id="properties" method="post">
            <p class="btn lighter-bg color1-border color4-bg-hov" id="propertyBtn" style="cursor: pointer;"> + Add text properties</p>
            <div id="propertyBtns"></div>
            <div id="validValues" style="display:none;visibility:hidden;"></div>

            <p><input type="submit" name="save_text" id="save_text" value="Save" /></p>
        </form>

    <p>Text location:</p>
    <div id="map-canvas"></div>