$def with (form, del_form, message=None, title="Palimpsest", main_nav={"main":("Home", "/")}, user_nav=[], pre=0, js="", post=0)
$:top_big(title=title, main_nav=main_nav, user_nav=user_nav)
        <div class="wrapper">
            <div class="w1of2">
                <div class="inner align-left clearfix">
                    $if message is not None:
                        <p class="win">$message</p>
                    <h3>Your details</h3>
                    <p>We'll use your penname beside experiences or texts you create, if they're listed anywhere.  If there's no penname, we'll use your real name, and without that, we'll use the nickname associated with your Google account ($cur_user().user.nickname()).</p>
                    <p>Tick the box if you don't mind us contacting you for feedback about your use of Palimpsest.  The email address we currently have on record for you from your Google account is $cur_user().user.email().</p>
                    $:form.render()
                    <p class="color1"><a href="/literary/feedback">Have questions, comments, suggestions, or any other feedback for us? Click here &#187;</a></p>
                </div>
            </div>

            <div class="w1of2"><div class="inner align-left clearfix">
                <h3>Privacy</h3>
                <p>You can rest assured we'll never give out any of your details to third parties.</p>
                <p>Any feedback we recieve from you, or data we get from the journeys you save or experiences you create, will be used only to better understand usage patterns of the app and improve its implementation.  All data will remain anonymous unless you expressly grant us your permission to use it otherwise.</p>
                <p>When you use the app, your location data is not recorded, simply used in the moment to detect nearby texts.</p>
                <p>If you wish to delete your account, and all data associated with it (including experiences you have created and journeys you have saved), please use the form below.</p>
                $:del_form.render()
            </div></div>

        </div>
$:end(pre=pre,js=js,post=post)
