$def with (menu, title="Palimpsest", navleft=[('Back home','/')], navright=[], pre=0, js="", post=0)
$:top_small(navleft=navleft, navright=navright, title=title)

        <div class="admin-head clearfix">
            <h2>Your experiences</h2>
        </div>

        <div class="has-side"><div class="inner align-left">
            <p>You can create your own experience or contrinbute texts to the open experiences listed.</p>
            <p>If you've been invited to a closed experience, you can add texts to that as well.</p>
        </div></div>

        <div class="side" id="menu">
            <nav>
                <ul class="li1">
                    <!-- new/yours -->
                    $if len(menu['yours']) > 0:
                        <li class="$menu['yours'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['yours'][0][1]">
                                    <span class="left">$menu['yours'][0][0]</span><i class="right $menu['yours'][0][3]"></i>
                                </a>
                            </h3>
                            $if len(menu['yours']) > 1:
                                <ul class="li2">
                                    $for x in range(1,len(menu['yours'])):
                                        <li class="$menu['yours'][x][2]">
                                            <a href="$menu['yours'][x][1]">$menu['yours'][x][0]
                                            <i class="icon-edit extra right"></i></a>
                                        </li>
                                </ul>
                        </li>
                    <!-- Closed -->
                    $if len(menu['unmod']) > 0:
                        <li class="$menu['unmod'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['unmod'][0][1]">
                                    <span class="left">$menu['unmod'][0][0]</span><i class="right $menu['unmod'][0][3]"></i>
                                </a>
                            </h3>
                            $if len(menu['unmod']) > 1:
                                <ul class="li2">
                                    $for x in range(1,len(menu['unmod'])):
                                        <li class="$menu['unmod'][x][2]">
                                            <a href="$menu['unmod'][x][1]">$menu['unmod'][x][0]
                                            <i class="icon-plus-sign extra right"></i></a>
                                        </li>
                                </ul>
                        </li>
                    <!-- Open -->
                    $if len(menu['contr']) > 0:
                        <li class="$menu['contr'][0][2]">
                            <h3>
                                <a class="clearfix" href="$menu['contr'][0][1]">
                                    <span class="left">$menu['contr'][0][0]</span><i class="right $menu['contr'][0][3]"></i>
                                </a>
                            </h3>
                            $if len(menu['contr']) > 1:
                                <ul class="li2">
                                    $for x in range(1,len(menu['contr'])):
                                        <li class="$menu['contr'][x][2]">
                                            <a href="$menu['contr'][x][1]">$menu['contr'][x][0]
                                            <i class="icon-plus-sign extra right"></i></a>
                                        </li>
                                </ul>
                        </li>
                </ul>
            </nav>
        </div>

$:end(pre=pre,js=js,post=post)
